.hero {
  height: 100dvh;
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  padding: 20px; /* Add padding */
  margin-bottom: 0; /* Remove bottom margin */
}

.hero .wrapper {
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .wrapper .textContainer {
  max-width: 50%;
}

.hero .wrapper .textContainer h2 {
  font-size: 35px;
  color: #bbe2ec;
  letter-spacing: 10px;
  margin-bottom: 20px;
  padding: auto;
}

.hero .wrapper .textContainer h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

.hero .wrapper .textContainer .buttons button {
  padding: 20px;
  border: 1px solid #40a2e3;
  border-radius: 10px;
  background-color: transparent;
  color: #40a2e3;
  margin-right: 20px;
  cursor: pointer;
}

.hero .wrapper .textContainer img {
  width: 50px;
}

.hero .imageContainer {
  max-width: 50%;
  position: relative;
}

.hero .imageContainer img {
  width: 100%;
  height: 450px;
  object-fit: contain;
  padding-left: 50px;
}

/* Adjust image position for screens with a minimum width of 900px */
@media screen and (min-width: 900px) {
  .hero .imageContainer {
    /* Keep position relative */
    position: relative;
    width: auto;
    max-width: 50%;
    margin-left: 700px;
  }

  .hero .imageContainer img {
    /* Adjust image alignment */
    position: flex;
    top: 50%;
    transform: translateY(-68%);
    right: 0;
    height: 650px;
    padding-left: 500px;
    padding-bottom: 100px;
  }
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .hero .wrapper {
    flex-direction: column;
    text-align: center;
  }

  .hero .wrapper .textContainer,
  .hero .imageContainer {
    max-width: 100%;
  }

  .hero .wrapper .textContainer h1 {
    font-size: 60px;
  }

  .hero .wrapper .textContainer .buttons button {
    padding: 15px;
    font-size: 14px;
    margin: 10px auto;
    display: block;
  }

  .hero .imageContainer img {
    /* Adjust positioning */
    /* position: flex; */
    /* align-items: end; */
    width: auto;
    max-width: 100%;
  }
}

/* Sliding Text Container Styles */
.slidingTextContainer {
  position: absolute;
  font-size: 50vh;
  bottom: -120px;
  white-space: nowrap;
  color: #ffffff09;
}
