.hero {
  height: 100dvh;
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  padding: 20px; /* Add padding */
  margin-bottom: 0; /* Remove bottom margin */
}

.hero .wrapper {
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .wrapper .textContainer {
  max-width: 50%;
}

/* PC and Tablet Styles */
@media screen and (min-width: 769px) {
  .hero .wrapper .textContainer {
    text-align: center; /* Center text horizontally */
  }

  .hero .wrapper .textContainer h2 {
    font-size: 35px;
    color: #bbe2ec;
    letter-spacing: 10px;
    margin: 0 auto 20px; /* Center text horizontally and add bottom margin */
    padding: auto;
  }

  .hero .wrapper .textContainer h1 {
    font-size: 100px;
    margin: 0 auto 20px; /* Center text horizontally and add bottom margin */
  }
}

.hero .wrapper .textContainer .buttons button {
  padding: 20px;
  border: 1px solid #40a2e3;
  border-radius: 10px;
  background-color: transparent;
  color: #40a2e3;
  margin-right: 20px;
  cursor: pointer;
}

/* Adjust image position for screens with a minimum width of 900px */
@media screen and (min-width: 900px) {
  .hero .wrapper .textContainer {
    margin-left: 330px;
    text-align: center; /* Center text horizontally */
  }

  .hero .wrapper .textContainer h2 {
    font-size: 50px;
    color: #bbe2ec;
    letter-spacing: 10px;
    margin: 0 auto 20px; /* Center text horizontally and add bottom margin */
    padding: auto;
  }

  .hero .wrapper .textContainer h1 {
    font-size: 130px;
    margin: 0 auto 20px; /* Center text horizontally and add bottom margin */
  }
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .hero .wrapper .textContainer {
    text-align: center; /* Center text horizontally */
  }

  .hero .wrapper .textContainer h2 {
    font-size: 35px;
    color: #bbe2ec;
    letter-spacing: 10px;
    margin: 0 auto 20px; /* Center text horizontally and add bottom margin */
    padding: auto;
  }

  .hero .wrapper .textContainer h1 {
    font-size: 100px;
    margin: 0 auto 20px; /* Center text horizontally and add bottom margin */
  }

  .hero .wrapper .textContainer .buttons button {
    padding: 15px;
    font-size: 14px;
    margin: 10px auto;
    display: block;
  }
}

/* Sliding Text Container Styles */
.slidingTextContainer {
  position: absolute;
  font-size: 50vh;
  bottom: -120px;
  white-space: nowrap;
  color: #bbe2ec;
}
