.textContainer {
  padding-right: 20px;
  margin: 20px;
  font-size: 30px;
}

.contact .formContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.contact .formContainer form input,
.contact .formContainer form textarea {
  padding: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  width: 100%;
}

.contact .formContainer form textarea {
  height: 200px;
}

.contact .formContainer form button {
  padding: 20px;
  border: none;
  background-color: #38e54d;
  cursor: pointer;
  font-weight: 500;
}

.contact .textContainer .resumeButton {
  padding: 20px;
  border: 1px solid #40a2e3;
  border-radius: 10px;
  background-color: transparent;
  color: #40a2e3;
  cursor: pointer;
  margin-right: 20px;
  font-weight: 500;
  margin-top: 20px;
}
